<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bldby.airticket">

    <application
        android:name="com.bldby.baselibrary.app.BaseApp"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.bldby.airticket.ui.AirMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SelectPlaneCityActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.AirCalendarActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.SearchFlightActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.SearchFlightActivity2"
            android:theme="@style/AppTheme" />
        <activity android:name=".ui.AirFlightDetailActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".ui.AirReserveActivity"
            android:theme="@style/AppTheme"/>
    </application>
</manifest>