<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bldby.shoplibrary">

    <application>
        <activity android:name=".shopping.GoodsShoppingActivity"></activity>
        <activity android:name=".goods.GoodsSeachActivity" />
        <activity android:name=".seach.SeachActivity" />
        <activity android:name=".goods.EvaluateActivity" />
        <activity android:name=".goods.GoosDetailActivity" />
        <activity android:name=".ShopMainActivity" />
    </application>

</manifest>