<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bldby.shoplibrary">

    <application>
        <activity android:name=".goods.GoosDetailActivity"></activity>
        <activity android:name=".ShopMainActivity"></activity>
    </application>

</manifest>