<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bldby.airticket">

    <application>
        <activity
            android:name="com.bldby.airticket.ui.AirMainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.SelectPlaneCityActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.AirCalendarActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.SearchFlightActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.SearchFlightActivity2"
            android:theme="@style/AppTheme" />
        <activity android:name=".ui.AirFlightDetailActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".ui.AirReserveActivity"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>