<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bldby.shoplibrary">

    <application
        android:name=".ShopApp"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ShopMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>