<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bldby.loginlibrary">

    <application android:name=".ui.LoginApp">
        <activity
            android:name="com.bldby.loginlibrary.ui.RegisterActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.BindingAccountActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.LoginActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.InputInviteCodeActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.WeChantLoginActivity"
            android:theme="@style/AppTheme" />
    </application>

</manifest>