<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.feitianzhu.loginlibrary">
    <application android:name=".ui.LoginApp">
        <activity
            android:name="com.feitianzhu.loginlibrary.ui.LoginActivity"
            android:theme="@style/AppTheme"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>