<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bldby.centerlibrary">

    <application>
       <activity android:name=".MyCenterMainActivity"
           android:theme="@style/AppTheme"/>
        <activity android:name=".address.ui.AddressManagementActivity"
            android:theme="@style/AppTheme"/>

    </application>

</manifest>