<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bldby.loginlibrary">

    <application>
        <activity
            android:name="com.bldby.loginlibrary.ui.LoginActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".ui.BindingAccountActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".ui.RegisterActivity" />
        <activity android:name=".ui.InputInviteCodeActivity" />
    </application>

</manifest>