<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bldby.loginlibrary">

    <application>
        <activity
            android:name="com.bldby.loginlibrary.ui.LoginActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.BindingAccountActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.RegisterActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.InputInviteCodeActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.WeChantLoginActivity"
            android:theme="@style/AppTheme" />
    </application>

</manifest>